body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    color: #fff;
    padding: 20px;
    text-align: center;
    background-size: 200% 200%;
    opacity: 0; /* 초기 불투명도 설정 */
    transition: opacity 2s ease-in-out; /* 부드러운 전환 */
}

header.fade-in {
    opacity: 1; /* 애니메이션 실행 시 불투명도 설정 */
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* 투명한 배경 */
}

.menu li {
    margin: 0 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* 투명한 배경 효과 */
}

#content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tab-content {
    display: none;
    animation: fadeIn 0.5s ease-in-out;
}

.tab-content.active {
    display: block;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
